
    body{
      background:Salmon;
      color:#FF7E7E;
    }

    main{
      display: block;
      margin:auto;
      width: 500px;

    }
    /* I centered the main tag */
    .center{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 130px;
    }
  /* April helped edit my tags correctly */
